<article class="message is-link" id="danke">
  <div class="message-header">
    <p>DANKE...</p>
    <button class="delete" aria-label="delete" onclick="hide()"></button>
  </div>
  <div class="message-body">
    ... für all die wunderbare Unterstützung die diese Plattform erhalten hat. </br>
  Da KopfÜberWasser als ehrenamtliches Projekt gestartet ist und wir nicht daran verdienen wollen, haben wir uns nun jedoch entschlossen, <strong>den Gutscheinverkauf (wieder) einzustellen.</strong> Gerne kann sich die Seite aber weiterhin angeschaut werden.<br>
  </div>
</article>

<script>
  function hide() {
    document.getElementById("danke").style.display = "none";
  }
  </script>
