<article class="message is-success" id="danke">
  <div class="message-header">
    <p>WIR SAGEN DANKE</p>
    <button class="delete" aria-label="delete" onclick="hide()"></button>
  </div>
  <div class="message-body">
    Am <strong>25. März 2020</strong> sind wir online gegangen, um unseren lokalen Unternehmen in den schweren Zeiten der Covid-19-Krise beizustehen. 
Was mit unserem Wunsch, etwas zur Bewältigung der Krise beizutragen, begann, wurde schnell viel größer als wir jemals gedacht hätten. 
Rückblickend wollen wir einfach nur Danke sagen. 
Danke an …<br>
… <strong>über 671 bewundernswerte Unterstützer</strong>, die zusammen über <strong>20.000€</strong> an vermittelten Gutscheinwert.<br>
… <strong>über 175 Unternehmen</strong>, die uns Vertrauen entgegengebracht haben, als es ihnen vielleicht am schlechtesten ging.<br>
… all die <strong>grandiosen Medien</strong> aus unserem Norden, die so zahlreich über uns berichteten.<br>
… die <strong>inspirierenden Hilfsplattformen und anderen Unterstützer</strong> aus ganz Deutschland, mit denen wir Seite an Seite zusammen arbeiten durften.<br>
<strong>Und schließlich Danke an jeden einzelnen der gezeigt, dass wir in MV zusammen halten, wenn es drauf ankommt - wenn nötig sogar digital ;D</strong><br><br>

Da KopfÜberWasser als ehrenamtliches Projekt gestartet ist und wir nicht daran verdienen wollen, haben wir uns entschlossen, <strong>den Gutscheinverkauf ab dem 20.06.2020 einzustellen.</strong> Gerne kann sich die Seite aber weiterhin angeschaut werden.<br><br>

Auch wenn wir das Beste hoffen, ist bei einem erneuten Lock-Down der Geschäfte eine Wiederaufnahme der Plattform möglich und geplant.<br><br>

Alles Gute,<br>
euer KopfÜberWasser-Team

  </div>
</article>

<script>
  function hide() {
    document.getElementById("danke").style.display = "none";
  }
  </script>