<article class="message is-link" id="danke">
  <div class="message-header">
    <p>Hinweis zur Atento Community Card</p>
    <button class="delete" aria-label="delete" onclick="hide()"></button>
  </div>
  <div class="message-body">
    Liebe Gutscheinkäufer,<br>
    wir danken euch für eure zahlreiche Unterstützung und wünschen euch neben einer schönen Weihnachtszeit einen guten Start ins neue Jahr.
    Außerdem wollen wir euch über die Atento Community Card informieren, bezüglich der ihr evtl. eine Mail von Atento bekommen habt. Die Community Card verspricht, bei allen teilnehmenden Geschäften einlösbar zu sein, was sie sicherlich zu einer tollen Geschenkidee macht.
    Die Geschäfte bekommen das Geld dabei aber erst nach dem Einlösen! Dies macht sie als Direkt-Hilfe nur begrenzt nutzbar.
  </div>
</article>

<script>
  function hide() {
    document.getElementById("danke").style.display = "none";
  }
  </script>