<section class="section">
    <div class="container">
    <div class="content">
    <h1 class="is-size-2"><center>FAQ</center></h1>
    <div class="columns">
    <div class="column">
      <h2><center>Du willst helfen?</center></h2>
      <div id="accordion_second">
          <article class="message">
              <div class="message-header">
                <aa href="#faq1" data-action="collapse"> <p>Geht das Geld für die Gutscheine direkt an die Unternehmen? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq1" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Das Geld wird direkt an dich zu 100 % weitergegeben. Wir verdienen damit kein Geld. Zusätzlich zum Gutscheinwert wird ein kleiner Betrag für Bank- und Transaktionsgebühren erhoben, den wir an den Zahlungsdienstleister zahlen müssen (z. B. PayPal).
                  </div>
              </div>
          </article>
          <article class="message">
            <div class="message-header">
                <aa href="#faq2" data-action="collapse"><p>Gilt der Gutschein nur für ein bestimmtes Unternehmen? </a><i class="fas fa-angle-down" aria-hidden="true"></i></p>
                </aa></div>
              <div id="faq2" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Ja, wir sind eine Vermittlungs-Plattform für Gutscheine. Die Gutscheine sind für ein spezifisches Unternehmen, mithilfe von unserem Partner Atento, erstellt worden. Das heißt, dass du über unsere Plattform den Gutschein direkt bei deinem Liebligsunternehmen kaufst.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq3" data-action="collapse"><p>Ich habe einen Gutschein gekauft, aber keine Bestätigungsmail bzw. PDF erhalten <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq3" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Das darf natürlich nicht passieren! Wir verwenden das Gutschein-System von Atento. Bei Fragen oder Problemen wende dich bitte direkt an Atento unter <a href="mailto:support@atento.me">support@atento.me</a>.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq4" data-action="collapse"><p>Kann ich auch Gutscheine verschenken? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq4" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Natürlich! Ob für dich oder deine Lieben – die Gutscheine sind nicht namensgebunden und können weitergegeben werden.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq5" data-action="collapse"> <p>Wie löse ich einen Gutschein ein? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq5" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Nach Corona kannst du einfach zu dem jeweiligen Geschäft gehen und deinen Gutschein vorzeigen, anhand der Gutscheinnummer und dem QR-Code kann er dann zugeordnet und eingelöst werden
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq6" data-action="collapse"> <p>Was passiert, wenn das Unternehmen meiner Gutscheine in Insolvenz geht? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq6" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Das kann leider passieren :(<br>
    In dem Fall bekommt ihr euer Geld NICHT zurück, da das Geld direkt bei den Unternehmen landet. Doch Zusammen können wir eine solche Insolvenz von unseren Lieblingsorten am Besten verhindern!
                  </div>
              </div>
          </article>
      </div>
    </div>
    <div class="column">
      <h2><center>Du brauchst Unterstützung?</center></h2>
      <div id="accordion_second">
          <article class="message">
              <div class="message-header">
                <aa href="#faq7" data-action="collapse"><p>Wie kann ich mich anmelden? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq7" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Melde dich direkt über unser Anmeldeformular an. Du findest alle Informationen unter <a href="/company">"Unterstützt werden!"</a>
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq8" data-action="collapse"> <p>Geht das Geld direkt an mein Unternehmen? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq8" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Das Geld wird direkt an dich zu 100 % weitergegeben. Wir verdienen damit kein Geld. Zusätzlich zum Gutscheinwert wird ein kleiner Betrag für Bank- und Transaktionsgebühren erhoben, den wir an den Zahlungsdienstleister zahlen müssen (z. B. PayPal).
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq9" data-action="collapse"> <p>Verdient KopfÜberWasser daran? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq9" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      KopfÜberWasser ist ein gemeinnütziges Projekt. Wir arbeiten alle zu 100% ehrenamtlich daran und verdienen nichts an dem Gutscheinverkauf.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq10" data-action="collapse"> <p>Verkauft KopfÜberWasser die Gutscheine? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq10" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Wir verwenden das Gutschein-System von Atento. Bei Fragen oder Problemen wende dich bitte direkt an Atento unter <a href="mailto:support@atento.me">support@atento.me</a>.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq11" data-action="collapse"><p>Ich habe mich angemeldet, bin aber noch nicht auf eurer Seite? <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq11" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Schön, dass du dabei bist! Bitte habe ein wenig Geduld mit uns, aus technischen Gründen können wir den Shop nur einmal am Tag aktualisieren. Daher schau am besten in den nächsten 1-2 Tagen nochmal rein. Sollte dein Shop immer noch nicht gelistet sein, melde dich bitte bei uns. Auf unserer <a href="/kontakt">Kontaktseite</a>, findest du dazu alle Infos.
                  </div>
              </div>
          </article>
          <article class="message">
              <div class="message-header">
                <aa href="#faq12" data-action="collapse"> <p>Ich möchte mehr über die Gutscheinabwicklung erfahren <i class="fas fa-angle-down" aria-hidden="true"></i></p></aa>
              </div>
              <div id="faq12" class="message-body is-collapsible" data-parent="accordion_second" data-allow-multiple="true">
                  <div class="message-body-content">
                      Gerne kannst du das tun. Du findest <a href="https://drive.google.com/file/d/1HiMyfUSGW4R81pwGAPJHuIlpWXGu4V4h/view?_hsenc=p2ANqtz-8V76JNXYD-nzeawiL957ja_qEtTdxjLMP0bBkbxJDLjTnnFa6cklypUhRs0fN90Iz6puMFvEpwtDaMazJaYH-LAZJSDmJRyaefWxe4cCs1umvOOsE&_hsmi=86277458">hier</a> alle weiteren nützlichen Informationen unseres Partners Atento.
                  </div>
              </div>
          </article>
    </div>
    </div>
    
    
    </div>   
    </div>
    </section>
    
    
    <!-- FAQ ANIMATION -->
    <script>
      // Return an array of bulmaCollapsible instances (empty if no DOM node found)
      const bulmaCollapsibleInstances = bulmaCollapsible.attach('.is-collapsible');
      
      // Loop into instances
      bulmaCollapsibleInstances.forEach(bulmaCollapsibleInstance => {
          // Check if current state is collapsed or not
          console.log(bulmaCollapsibleInstance.collapsed());
      });
      </script>