<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% seo %}
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/css/bulma.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/bulma-collapsible.min.css">
  <link rel="stylesheet" href="/css/leaflet.css">
  <link href="{{site.baseurl}}/img/site/rettungsring.png" rel="shortcut icon" type="image/x-icon">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="{{site.baseurl}}/js/jquery-3.4.1.min.js"></script>
  <script src="{{site.baseurl}}/js/bulma-collapsible.min.js"></script>
  </head>