<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{site.baseurl}}/css/bulma.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/bulma-collapsible.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/cards.css">
<script rel="stylesheet" href="/css/leaflet.css"></script>
<link href="{{site.baseurl}}/img/site/rettungsring.png" rel="shortcut icon" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{{site.baseurl}}/js/jquery-3.4.1.min.js"></script>
<script src="{{site.baseurl}}/js/bulma-collapsible.min.js"></script>
<script src="/js/leaflet.js"></script>
</head>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.kopfueberwasser.de/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
