<div class="notification is-danger">
    <button class="delete" onclick="this.parentElement.style.display='none'" ></button>
    Aktuell kann es zu vorübergehenden Störungen, Ausfällen oder Fehlern bei der Registrierung führen, die spätestens zum nächsten Tag behoben sind. Bitte entschuldigen Sie die Unannehmlichkeiten die Ihnen dadurch entstanden sind und haben Sie vielen Dank für Ihr Verständnis und Ihre Geduld. Mehr Informationen erhalten Sie übrigens auf <a href="https://status.mvbuddies.de">dieser Status Seite</a>.
  </div>