
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vorpommern-Greifswald unterstützen | Kopf über Wasser</title>
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/bulma-collapsible.min.css">
        <link rel="stylesheet" href="/css/cards.css">
        <link href="/img/site/rettungsring.png" rel="shortcut icon" type="image/x-icon">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bulma-collapsible.min.js"></script>
        <!--VUE.JS-->
        <script src="/js/vue.js"></script>
       
    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://kuw.mvbuddies.de">
                    <img src="/img/site/kopfueberwasserlogoblack800.png">
                </a>
                <a
                    role="button"
                    class="navbar-burger burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://kuw.mvbuddies.de">
                        Home
                    </a>
                    <a class="navbar-item" href="/support/">
                        Unterstützen!
                    </a>
                    <a class="navbar-item" href="/company/">
                        Unterstützt werden!
                    </a>
                    <a class="navbar-item" href="/team/">
                        Das sind wir
                    </a>
                    <a class="navbar-item" href="/kontakt/">
                        Kontakt
                    </a>
                    <!-- <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Mehr
                </a>
          
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>-->
                </div>
                <!--
          <div class="navbar-end">
            <div class="navbar-item">
                <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Mehr
                </a>
          
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    About
                  </a>
                  <a class="navbar-item">
                    Jobs
                  </a>
                  <a class="navbar-item">
                    Contact
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Report an issue
                  </a>
                </div>
              </div>
            </div>
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
          </div>-->
            </nav>
     <div id="app">
            <section class="hero is-link">
              <div class="hero-body">
              <div class="container has-text-centered">
              <h1 class="herowhitetitle">Vorpommern-Greifswald unterstützen</h1>
              <h2 class="herowhitesubtitle"><br>
                <div class="buttons has-addons is-centered" id="filterContainerbutton">
                  <button class="button is-link is-inverted is-outlined" v-on:click="showAll">Alle</button>
                  <button class="button is-link is-inverted is-outlined" v-on:click="showDienstleistung">Dienstleistung</button>
                  <button class="button is-link is-inverted is-outlined" v-on:click="showEinzelhandel">Einzelhandel</button>
                  <button class="button is-link is-inverted is-outlined" v-on:click="showGastronomie">Gastronomie</button>
                  <button class="button is-link is-inverted is-outlined" v-on:click="showUnterhaltung">Unterhaltung</button>
                  <button class="button is-link is-inverted is-outlined" v-on:click="showAndere">Andere</button>
                </div></h2>
                  </div>
                </div>
              
         
              </section>
                     
                <section class="section">
                  <div class="container">
                    <div class="content">
                      <div class="columns">
                        <div class="column">
                          <div class="dropdown">
                            <div class="dropdown-trigger">
                              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span>Nach Standort filtern</span>
                                <span class="icon is-small">
                                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                              <div class="dropdown-content">
                                <a href="/support/" class="dropdown-item">
                                  Mecklenburg Vorpommern
                                </a>
                                <hr class="dropdown-divider">
                                <a href="/support/hro" class="dropdown-item">
                                  Rostock
                                </a>
                                <a href="/support/sn/" class="dropdown-item">
                                  Schwerin
                                </a>
                                <hr class="dropdown-divider">
                                <a href="/support/lro/" class="dropdown-item">
                                  Landkreis Rostock
                                </a>
                                <a href="/support/lup/" class="dropdown-item">
                                  Ludwigslust-Parchim
                                </a>
                                <a href="/support/mse/" class="dropdown-item">
                                  Mecklenburgische Seenplatte
                                </a>
                                <a href="/support/nwm/" class="dropdown-item">
                                  Nordwestmecklenburg
                                </a>
                                <a href="/support/vg/" class="dropdown-item">
                                  Vorpommern-Greifswald
                                </a>
                                <a href="/support/vr/" class="dropdown-item">
                                  Vorpommern-Rügen
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                     
                        <div class="column is-one-third">
                          <input class="input" v-on:keyUp="filterByName" :value="search"
                          @input="e => search = e.target.value" type="text" placeholder="Suchen...">
</div>
                      </div>
                    </div>
                  </div>
      
                </section>
        
              <div class="div-block-23" :style="'position: relative; height: ' + calculateHeight() + ';'">
                <div id="grid" class="grid is-showing-items" v-for="(firma, index) in filteredList">
                    <div id="w-node-1e067ef2667e-15792f71" class="collection-item-5 dynamic-item w-dyn-item einzelhandel" 
                         :style="style_div + 'left: ' + currentLeft(index) + '; top: ' + currentTop(index) + ';'">
                        <div class="cardd" >
                            <div class="category">{{ firma.category }}</div>
                            <a :href="'/support/'+firma.id" class="link-block-3-copy w-inline-block" style="color: #000;">
                              <img width="289"
                              :src="'/img/company/cards/'+firma.firmimg" loading="lazy" class="image-3">
                                <div class="cardd-title">{{ firma.firmname }}</div>
                                <div class="cardd-link">{{ firma.firmname }}</div>
                                <p class="cardd-summary">{{ firma.description }}</p>
                            </a><!--<div class="tags is-right">
                              <span class="tag is-rounded">{{ firma.standort }}</span>
                            </div>-->
                        </div>
                      </div>
                </div>
            </div>
        
        
      </div>
        <footer class="footer">
    
            <div class="content has-text-centered">
                <p>
                  <strong>Kopf über Wasser</strong>, 2020,
                  <a href="/datenschutz">Datenschutzerklärung</a>
                  <a href="/impressum">Impressum</a>
                  <a href="https://instagram.com/kopfueberwasser">Instagram</a>
                </p>
              </div>
          
                <!--<div class="container">
                <div class="row p20">
                    {% if site.copyright.name %}
                        <div class="col-md-4 text-center mt25">All rights reserved by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a></div>
                    {% endif %}
          
                    <div class="col-md-4 text-center mt25" >
                        {% if site.built-by %}
                        <a target="_blank" href="http://webjeda.com"><img src="https://img.shields.io/badge/Built%20by-webjeda-blue.svg" alt="{{site.built-by}}"></a>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center mt25">
                       {% if site.facebook %}
                        <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><i class="fa fa-facebook-square"></i></li></a> 
                        {% endif %}
                       {% if site.quora %}
                        <a target="_blank" href="{{site.quora}}"><li class="social quora"><i class="fa fa-quora"></i></li></a>
                        {% endif %}
                       {% if site.twitter %}
                        <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><i class="fa fa-twitter-square"></i></li></a>
                        {% endif %}
                       {% if site.github %}
                        <a target="_blank" href="{{site.github}}"><li class="social github"><i class="fa fa-github-square"></i></li></a>
                        {% endif %}
                       {% if site.email %}
                        <a target="_blank" href="mailto:{{site.email}}"><li class="social email"><i class="fa fa-envelope"></i></li></a>
                        {% endif %}
                    </div>
          
                </div> 
            </div>-->
          </footer>
          
          <script src="./main.js"></script>
          <script src="/js/jquery-3.4.1.min.js"></script>


        

     


   
          
          
          
          
          
          
          
          <!-- FAQ ANIMATION -->
          <script>
            // Return an array of bulmaCollapsible instances (empty if no DOM node found)
            const bulmaCollapsibleInstances = bulmaCollapsible.attach('.is-collapsible');
            
            // Loop into instances
            bulmaCollapsibleInstances.forEach(bulmaCollapsibleInstance => {
                // Check if current state is collapsed or not
                console.log(bulmaCollapsibleInstance.collapsed());
            });
            </script>
            
            




          
            <!-- NAVBAR ANIMATION -->
          <script>
                $(document).ready(function() {
          
                  // Check for click events on the navbar burger icon
                  $(".navbar-burger").click(function() {
          
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  $(".navbar-burger").toggleClass("is-active");
                  $(".navbar-menu").toggleClass("is-active");
          
              });
              });
          </script>
          
          <!-- Handy Dropdown Animation-->
          <script>
            $(document).ready(function() {
          
              // Check for click events on the navbar burger icon
              $(".dropdown").click(function() {
          
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              $(".dropdown").toggleClass("is-active");
          
          });
          });
          </script><!-- Handy Dropdown Animation-->
            </body>
            </html>