---
layout: default
permalink: /company/
title: Unternehmen eintragen
description: Trage dein eigenes Geschäft ein!
---
<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="herowhitetitle">
        Unternehmen eintragen
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <!--{% include hinweis.html %}-->
      <div class="columns">
        
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Ich brauche Hilfe
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                Du brauchst Hilfe von deinen Stammgästen, um die Corona-Krise 
                zu überstehen? Dann schreib uns und wir nehmen deine Lokalität 
                auf unserer Plattform auf. Für dich fallen dabei keine Gebühren an.
              </div>
            </div>
            <footer class="card-footer">
              <a href="{{site.baseurl}}/registration" class="card-footer-item">
                REGISTRIEREN
              </a>
            </footer>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Wie kann ich helfen?
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                Du kennst einen Laden, ein Restaurant oder ein Cafe das
                aktuell in finanziellen Schwierigkeiten stecken könnte?
                Kontaktiere doch die Betreiberin oder den Betreiber. 
                Lass sie oder ihn wissen, dass wir vielleicht sein Problem 
                lösen könnten.<br><b>Wichtig: Dein Lieblingsort muss 
                sich selbst registrieren.</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-link">
  <div class="container">
    <div class="columns">

      <div class="column is-one-fifth"></div>

      <div class="column">
        <div class="content">
          <h1 class="has-text-white">
            Wie läuft die Anmeldung ab?
          </h1>
          <p class="pdefault has-text-white">
            1. Du meldest dich über unser Kontaktformular an.
            <br><br>
            2. Unser Partner Atento meldet sich bei dir, fragt nach 
            deiner Bankverbindung und gibt dir weitere Informationen.
            <br><br>
            3. Wir richten dein Profil so schnell wie möglich auf 
            unserer Plattform ein und du kannst Gutscheine verkaufen!
          </p>
        </div>
      </div>

      <div class="column is-one-fifth"></div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div clas="content">
      <h1 class="is-size-3">
        Du hast bereits eine eigene Online-Aktion für dein Unternehmen gestartet?
      </h1>
      <p class="pdefault">
        Das ist großartig! Wir finden sicher einen Weg zusammenzuarbeiten. 
        Du hast z.B. die Möglichkeit, deine eigene Aktion hier auf unserer 
        Website zu verlinken.
      </p>
      <br>
      <a href="{{site.baseurl}}/registration/" class="button">
        Registriere deine eigene Gutscheinaktion bei uns!
      </a>
    </div>
  </div>
</section>


{% include faq.html %}