<html>
  {% include headcompany.html %}
  

  <body>

    {% include header.html %}

   
        {{ content }}
   
    {% include footer.html %}
    




  <script src="{{site.baseurl}}/js/jquery-3.4.1.min.js"></script>
  <script>
    const url = document.getElementById("gift").href;
    const arr = url.split("/");
    const result = arr[0] + "//" + arr[2]
    console.log(result);
    if (result == 'https://app.atento.me' || result == 'http://app.atento.me'){
      
    }else{
      document.getElementById("gift").textContent="eigene Gutscheinaktion besuchen ¹ ² ³";
      document.getElementById("giftmobile").textContent="eigene Gutscheinaktion besuchen ¹ ² ³";
    }
  </script>
  <!-- NAVBAR ANIMATION -->
<script>
      $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

    });
    });
</script>

<!-- Handy Dropdown Animation-->
<script>
  $(document).ready(function() {

    // Check for click events on the navbar burger icon
    $(".dropdown").click(function() {

    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
    $(".dropdown").toggleClass("is-active");

});
});
</script><!-- Handy Dropdown Animation-->
<script>
      $(document).ready(function() {

        // Check for click events on the navbar burger icon
        $(".dropdown").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".dropdown").toggleClass("is-active");

    });
    });
</script>



 
  </body>

</html>

