<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   
    <link rel="stylesheet" href="/kopfueberwasserde/css/bulma.css">
    <link rel="stylesheet" href="/kopfueberwasserde/css/bulma-collapsible.min.css">
    <link rel="stylesheet" href="/kopfueberwasserde/css/cards.css">
    <link href="/kopfueberwasserde/img/site/rettungsring.png" rel="shortcut icon" type="image/x-icon">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/kopfueberwasserde/js/jquery-3.4.1.min.js"></script>
    <script src="/kopfueberwasserde/js/bulma-collapsible.min.js"></script>
    <script src="/kopfueberwasserde/js/vuejs.js"></script>
    </head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}



</body>

</html>