---
layout: company
permalink: /support/0/
---
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Beispiel unternehmen
        <br><span class="tag">Einzelunternehmen</span>
        <span class="tag">Landkreis Rostock</span>
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod 
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At 
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </h2>
      <a
        id="gift"
        href="https://www.oikos-shop.de/blog/covid19-neue-wege-kauf-lokal-digital"
        target="_blank" class="button is-medium is-link is-hidden-mobile">
        Gutschein kaufen ¹ ² ³
      </a>
      <a 
        id="giftmobile" 
        href="https://www.oikos-shop.de/blog/covid19-neue-wege-kauf-lokal-digital"
        target="_blank" class="button is-medium is-link is-hidden-tablet"
        style="padding:30px;white-space: normal;">
        Gutschein kaufen ¹ ² ³
      </a>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column">
          <div class="container">
            <p class="pdefault">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
              sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
              et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
              no sea takimata sanctus est Lorem ipsum dolor sit amet. 
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
              sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
              et justo duo dolores et ea rebum. Stet clita kasd gubergren, 
              no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <div id="map" style="height: 350px;"></div>
            <div class="card">
              <div class="card-content">
                <p class="subtitle">
                  Lange Str. 9-11 Rückseite, 18055 Rostock
                </p>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>
                    Auf <a href="https://www.google.com/maps/search/?api=1&query=Lange Str. 9-11 Rückseite, 18055 Rostock/" 
                      target="_blank">Google Maps</a> ³ ansehen
                  </span>
                </p>
              </footer>
            </div><br>            
            <div class="subjects">
              <a href="/test" class="button is-medium" target="_blank">
                Schau bei uns vorbei ³
              </a>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="container has-text-centered">
            <img src="{{site.baseurl}}/img/company/original/2020-04-13_14-12-00_skylinekleinklein.png">
          </div>
        </div>
      </div>
    </div>
    <span>
      <br>¹ Kopf Über Wasser ist ein NonProfit-Projekt. Unser Partner Atento muss 
        jedoch leider einen minimalen Aufpreis, für die Payment-Gebühren, die entstehen, 
        verlangen. Bei standardmäßigen Online-Shops werden diese Gebühren, von den 
        Anbietern getragen. Wir haben uns jedoch dafür entschieden, dass die Unternehmen 
        den vollen Betrag der Gutscheine erhalten sollen - wir hoffen auf ihr Verständnis. 
        Einige Unternehmen verlinken hier auch einen Link zu ihrer eigenen Online-Aktion. 
        Auch hierfür übernimmt Kopf Über Wasser keine rechtliche Verantwortung.

      <br>² Dein gekaufter Gutschein gilt nur für dieses Unternehmen. Der Gutscheinkauf 
        findet auf einer externen Seite statt, wir entbinden uns von jeglicher rechtlichen 
        Haftungspflicht. Beachte das aktuell dein Ort aufgrund von gesetzlichen Bestimmungen 
        geschlossen ist. Aufgrund der womöglich langen Zeit der Schließung ist es möglich, 
        dass das Unternehmen insolvent gehen könnte. Es besteht somit grundsätzlich das Risiko, 
        dass es nicht möglich sein wird deinen Gutschein einzulösen. Wir (Kopf Über Wasser) 
        schließen jegliche Haftung aus und betonen, dass das Vertragsverhältnis zwischen dir, 
        dem Gutscheinkäufer, und dem gutscheinanbietenden Unternehmen (z.B. einem Restaurant) besteht.

      <br>³ Die über den Link erreichbare Webseite entspricht möglicherweise nicht unseren 
        Sicherheitsstandards. Wir übernehmen keine Haftung für etwaige Schäden.
    </span>
  </div>
</section>

<script src="{{site.baseurl}}/js/openlayers.js"></script>
<script>
    const lat            = 54.089260;
    const lon            = 13.441510;
    const zoom           = 18;

    const fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
    const toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
    const position       = new OpenLayers.LonLat(lon, lat).transform( fromProjection, toProjection);

    map = new OpenLayers.Map("map");
    const mapnik = new OpenLayers.Layer.OSM();
    map.addLayer(mapnik);

    const markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(position));

    map.setCenter(position, zoom);
</script>






